<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>eman_crouch_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,297},{110,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,165}}</string>
				<key>sourceSize</key>
				<string>{110,165}</string>
			</dict>

			<key>eman_damage_high_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,684},{124,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,193}}</string>
				<key>sourceSize</key>
				<string>{124,193}</string>
			</dict>

			<key>eman_damage_high_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,0},{139,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,180}}</string>
				<key>sourceSize</key>
				<string>{139,180}</string>
			</dict>

			<key>eman_jump_down_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,222},{182,258}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{182,258}}</string>
				<key>sourceSize</key>
				<string>{182,258}</string>
			</dict>

			<key>eman_jump_down_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,0},{122,296}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,296}}</string>
				<key>sourceSize</key>
				<string>{122,296}</string>
			</dict>

			<key>eman_jump_up_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,481},{177,234}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{177,234}}</string>
				<key>sourceSize</key>
				<string>{177,234}</string>
			</dict>

			<key>eman_jump_up_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,716},{167,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{167,184}}</string>
				<key>sourceSize</key>
				<string>{167,184}</string>
			</dict>

			<key>eman_punch_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,716},{158,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{158,221}}</string>
				<key>sourceSize</key>
				<string>{158,221}</string>
			</dict>

			<key>eman_punch_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{216,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{216,221}}</string>
				<key>sourceSize</key>
				<string>{216,221}</string>
			</dict>

			<key>eman_stand_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,222},{150,245}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{150,245}}</string>
				<key>sourceSize</key>
				<string>{150,250}</string>
			</dict>

			<key>eman_stand_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,468},{141,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,6},{141,244}}</string>
				<key>sourceSize</key>
				<string>{150,250}</string>
			</dict>

			<key>eman_walk_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,297},{84,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,250}}</string>
				<key>sourceSize</key>
				<string>{84,250}</string>
			</dict>

			<key>eman_walk_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,684},{107,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,218}}</string>
				<key>sourceSize</key>
				<string>{107,218}</string>
			</dict>

			<key>eman_walk_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,468},{133,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,215}}</string>
				<key>sourceSize</key>
				<string>{133,215}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>eman.png</string>
			</dict>
		</dict>
</plist>